<h1 class="my-5">Editing Investments</h1>

<div class="card-form-investment">
<%= render 'form', user: @investment %>
<div>
<%= link_to 'Show', @investment %> |
<%= link_to 'Investments', investments_path %>
</div>
</div>