<h1 class="my-5">New Investment</h1>

<div class="bg-white p-5 w-100 d-flex justify-content-center align-items-center
            fs-4 text-muted text_gray_low text-center">
    <% if Group.count != 0 %>
        <%= render 'form', investment: @investment %>
    <% else %>
        <p>You don't have groups!  Feel free to create a group first</p>
        <%= link_to 'New group',new_group_path %>
    <% end %>
</div>

