<div class="card-auth">
<h1 class="my-5">Login</h1>
<div class="p-5 bg-white">
<%= form_tag sessions_path do |form| %>
  <div class='field'>
    <%= text_field_tag :name, {},  {class: "form-control fs-4 text-muted text-center", placeholder: "Type your name"} %>
  </div>

  <div class="link-container position-relative">
    <div class="btn2 btn-outline-green actions d-fixed position-fixed bottom-0 start-50 
          translate-middle-x w-100">
      <%= submit_tag 'Login', class: "btn2 btn-outline-green w-100 border border-white" %>
      </div>
  <div>
<% end %>
<div>
</div>