<div class="card-auth">
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class='field'>
    <%= label_tag :name, "Type your name:" %>
    <%= text_field_tag :name %>
  </div>

  <div class='actions'>
    <%= submit_tag 'Login', class: "btn2 btn-outline-green" %>
  </div>
<% end %>
</div>