<h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Home', root_path %>